
.logo{
    width: 90px;
    height: 110px;
}
#logo li{
  list-style-type: none;
  justify-content: center;
  display: inline;
}
body {
  margin: 0;
  font-family: 'Didact Gothic', sans-serif;
  background-image: url("imagenes/fondo/5.png");
  background-repeat: no-repeat;
  Background-size:cover;
  background-attachment: fixed;
}

h2{
    /*display: contents;*/
    font-size: 7em;
    font-family: 'Fjalla One', sans-serif;
    /*margin-left: 0;*/
    color: #FFB200;
}
.menu{
  display:block!important;
}
.title-logo{
  text-align: center!important;
}
.img-logo{
  text-align: center;
}
/*h1 {
  color: black;
  margin-left: 0px;
  margin-top: -150px;
  margin-bottom: auto;
  display: block;
  vertical-align: center;
}*/
